---
---

@import "kickback/variables";
@import "bootstrap";
@import "kickback/bootswatch";

@import "kickback/font";

@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

body {
  margin-top: 80px;
  margin-bottom: 37px;
}

/* Opaque Navbar on Scroll */
.navbar {
  @include transition(all 0.25s ease-out);

  &.navbar-inverse {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }
}

/* Static Footer */
.footer {
  background: $gray-lighter;
  color: $gray-light;
  font-size: 12px;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: $zindex-footer-fixed;
}

/* Page Headers with Background */
.header {
  margin-top: -80px;
  margin-bottom: 20px;

  text-align: center;

  background: $brand-primary no-repeat center center;
  background-size: cover;
  color: #f8f8f8;

	h1, h2, h3, h4, h5 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .container {
    position: relative;
    padding-top: 15%;
    padding-bottom: 15%;
  }

  &.header-sm {
    .container {
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }

  &.header-index {
    margin-bottom: 0;

  	background-image: url(../images/bgs/index.jpg);

    h1 {
      font-size: 4em;
      margin: 0;
    }

    h3 {
      font-size: 2.25em;
      margin: 10px 0;
    }

    .btn {
      margin: 10px auto 0 auto;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }
  }

  &.header-jobs {
    background-image: url(../images/bgs/jobs.jpg);
  }

  &.header-compare {
    background-image: url(../images/bgs/compare.jpg);
  }

  &.header-about {
    background-image: url(../images/bgs/about.jpg);
  }

  &.header-networks {
    background-image: url(../images/bgs/networks.jpg);
  }

}


/* Lead Heading */
.lead-line {
  text-align: center;
  color: #fff;

  background-color: darken($brand-primary, 10%);

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  h2 {
    margin: 5% 0;
  }
}


/* Network Stats */
.stats {
  text-align: center;
  color: #fff;

  background-color: $brand-primary;

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  h3 {
    margin: 20px 0 5px 0;
  }

  h4 {
    margin: 0 0 20px 0;
  }
}


/* Partner Features */
.partners {
  text-align: center;
  color: #fff;

  background-color: darken($brand-primary, 10%);

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  .feature {
    background: no-repeat center center;
    background-size: cover;

    h2 a {
      color: #fff;

      &:hover {
        color: $gray-lighter;
      }
    }

    padding-top: 8%;
    padding-bottom: 8%;

    @include transition(all 0.1s ease-out);

    .stats {
      padding: 0 40px;
      background-color: transparent;
    }

    &.lee-hinchcliffe {
      background-image: url(../images/partners/leehinchcliffe.jpg);

      &:hover {
        background-image: url(../images/partners/leehinchcliffe-hover.jpg);
      }
    }

    &.thekiwicolonel {
      background-image: url(../images/partners/thekiwicolonel.jpg);

      &:hover {
        background-image: url(../images/partners/thekiwicolonel-hover.jpg);
      }
    }

    &.sam-patterson {
      background-image: url(../images/partners/sam-patterson.jpg);

      &:hover {
        background-image: url(../images/partners/sam-patterson-hover.jpg);
      }
    }

    &.enderhydra {
      background-image: url(../images/partners/enderhydra.jpg);

      &:hover {
        background-image: url(../images/partners/enderhydra-hover.jpg);
      }
    }

    &.thesnackjoker {
      background-image: url(../images/partners/thesnackjoker.jpg);

      &:hover {
        background-image: url(../images/partners/thesnackjoker-hover.jpg);
      }
    }

    &.finbarhawkes {
      background-image: url(../images/partners/finbarhawkes.jpg);

      &:hover {
        background-image: url(../images/partners/finbarhawkes-hover.jpg);
      }
    }

    &.josh-jones {
      background-image: url(../images/partners/josh-jones.jpg);

      &:hover {
        background-image: url(../images/partners/josh-jones-hover.jpg);
      }
    }

    &.ollie-munro {
      background-image: url(../images/partners/ollie-munro.jpg);

      &:hover {
        background-image: url(../images/partners/ollie-munro-hover.jpg);
      }
    }
  }
}


/* Compare Table */
.compare {
  .table, table {
    &, & th, & td {
      margin: 30px inherit;
      border-top: 0 !important;
    }

    img {
      vertical-align: middle;
    }

    .sub-title {
      font-size: 11px;
      margin: -5px -2px 0 0;
    }

    tr.logos {
      img {
        padding: 10px;
        height: 90px;
      }

      .kickback img {
        height: 50px;
      }
    }

    thead .kickback {
      background: $brand-primary;
      color: #fff;
      font-weight: bold;
    }

    tbody .kickback {
      background: darken($brand-primary, 10%);
      color: #fff;
      font-weight: bold;
    }
  }
}


/* Networks Page */
.networks {

  h1 {
    font-weight: bold;
  }

  .network-genre {
    margin-top: 30px;
    font-weight: normal;
    text-transform: uppercase;
  }

  p {
    font-size: 18px;
  }

  .network-coming-soon {
    text-transform: lowercase;
    font-style: italic;
    font-weight: normal;
  }

  .row {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


/* About Page */
.about {
  p {
    font-size: 18px;
  }
}
