// Custom 3.3.2
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("//fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");


// Navbar =====================================================================

.dropdown-header {
  text-transform: uppercase;
  font-size: ceil(($font-size-base * 0.75)); // ~11px
}

.navbar-fixed-top {
  border-bottom: none;
}

.navbar-transparent {
  background-color: transparent;
  border-color: transparent;

  .navbar-brand {
    color: $navbar-inverse-brand-color;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    &:hover,
    &:focus {
      color: darken($navbar-inverse-brand-hover-color, 10%);
      background-color: transparent;
    }
  }

  .navbar-text {
    color: $navbar-inverse-color;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .navbar-nav {
    > li > a {
      color: $navbar-inverse-link-color;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

      &:hover,
      &:focus {
        color: darken($navbar-inverse-link-hover-color, 10%);
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: darken($navbar-inverse-link-active-color, 10%);
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-inverse-link-disabled-color;
        background-color: transparent;
      }
    }
  }
}

// Breadcrumbs ================================================================

// Buttons ====================================================================

.btn-outline {
  @include button-variant(#fff, transparent, #fff);
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.btn-link:hover, .btn-link:focus {
  text-decoration: none;
}

// Typography =================================================================

body {
  -webkit-font-smoothing: antialiased;
}

.text-primary,
.text-primary:hover {
  color: $brand-primary;
}

.text-success,
.text-success:hover {
  color: $brand-success;
}

.text-danger,
.text-danger:hover {
  color: $brand-danger;
}

.text-warning,
.text-warning:hover {
  color: $brand-warning;
}

.text-info,
.text-info:hover {
  color: $brand-info;
}

// Tables =====================================================================

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        vertical-align: middle;
      }
    }
  }
}

// Forms ======================================================================

.form-control,
input, {
  @include box-shadow(#{"none"});

  &:focus {
    @include box-shadow(#{"none"});
  }
}

.form-group:last-child {
  margin-bottom: 0;
}

.has-warning {
  .control-label,
  .form-control-feedback {
    color: $brand-warning;
  }

  .help-block {
    background-color: $brand-warning;
    color: #fff;
    padding: 4px 8px;
    border-radius: $border-radius-base;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    @include box-shadow(#{"none"});
    border: 1px solid $brand-warning;
  }
}

.has-error {
  .control-label,
  .form-control-feedback {
    color: $brand-danger;
  }

  .help-block {
    background-color: $brand-danger;
    color: #fff;
    padding: 4px 8px;
    border-radius: $border-radius-base;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    @include box-shadow(#{"none"});
    border: 1px solid $brand-danger;
  }
}

.has-success {
  .control-label,
  .form-control-feedback {
    color: $brand-success;
  }

  .help-block {
    background-color: $brand-success;
    color: #fff;
    padding: 4px 8px;
    border-radius: $border-radius-base;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    @include box-shadow(#{"none"});
    border: 1px solid $brand-success;
  }
}

// Navs =======================================================================

// Dropdown variants
@mixin dropdown-variant($color, $background) {
  & > a {
    &:hover,
    &:focus {
      color: $color;
      text-decoration: none;
      outline: 0;
      background-color: $background;
    }
  }

  &.active > a {
    &,
    &:hover,
    &:focus {
      color: $color;
      text-decoration: none;
      outline: 0;
      background-color: $background;
    }
  }

  &.disabled > a {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-disabled-color;
      background-color: transparent;
    }
  }
}

// Primary state
.dropdown-menu > .primary {
  @include dropdown-variant(#fff, $brand-primary);
}

// Success state
.dropdown-menu > .success {
  @include dropdown-variant(#fff, $brand-success);
}

// Info state
.dropdown-menu > .info {
  @include dropdown-variant(#fff, $brand-info);
}

// Warning state
.dropdown-menu > .warning {
  @include dropdown-variant(#fff, $brand-warning);
}

// Danger state
.dropdown-menu > .danger {
  @include dropdown-variant(#fff, $brand-danger);
}

.nav-tabs + .panel {
  margin-top: -1px;
}

// Indicators =================================================================

.close {
  text-decoration: none;
  text-shadow: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.label {
  border-radius: 0;
}

// Progress bars ==============================================================

// Containers =================================================================

.modal {
  .close {
    color: $text-color;
  }

  &-content {
    @include box-shadow(#{"none"});
  }
}

.popover {
  @include box-shadow(#{"none"});
}

.media-left {
  padding-right: 15px;
}
.media-left,
.media-body,
.media-right {
  vertical-align: middle;
}
