<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}

  </body>

  <script>
    function checkScroll(){
      var startY = 1; //The point where the navbar changes in px

      if($(window).scrollTop() > startY){
          $('.navbar').addClass("navbar-inverse");
          $('.navbar').removeClass("navbar-transparent");
      }else{
          $('.navbar').addClass("navbar-transparent");
          $('.navbar').removeClass("navbar-inverse");
      }
    }

    if($('.navbar').length > 0){
      $(window).on("scroll load resize", function(){
          checkScroll();
      });
    }
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62760986-3', 'auto');
    ga('send', 'pageview');

  </script>

</html>
